.container {
  text-align: center;
  margin: 0;
  padding: 0;
}
.input-container {
  background-color: white;
  margin-top: 2rem;
  margin-left: 15%;
  border-radius: 0.25rem;
  padding: 1rem;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.329);
  /* display: flex; */
  width: 70%;
  justify-content: space-between;
}

.input {
  border: 1em;
  width: 90%;
  padding: 2em;
}

.input:focus {
  outline: none;
}

.add-btn {
  border: none;
  padding: 0.3rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(53, 201, 157);
  color: white;
  font-weight: 900;
}
